body{font-style: oblique; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
div, address{color: brown ; font-weight: bold;}
p{color:chocolate;font-size: 2ex;}
#descipttion{color: palevioletred;}
.title{color: rgb(132, 14, 53);}
#sub-desc{color: pink;}