body{ font-style: italic; font-family: 'Times New Roman', Times, serif;}
div, address{ color:red; font-weight: bold; }
p {color:green; font-size: 2em; }
#descipttion {color: blue; }
.title{ color: yellow; }
#sub-desc { color: #ffccaa; }